.carousels-container {
  height: 10vh;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
}
.home-bg-container {
  background-color: azure;
  height: 100vh;
  margin-top: 0px;
}
.restaurants-list-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.home-main-container {
  height: 67vh;
  overflow-y: auto;
}
