.activeTab {
  color: orange;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  list-style-type: none;
  border: none;
  background-color: transparent;
  outline: none;
}
.inActiveTab {
  color: black;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}
