.slider-container {
  padding: 40px;
  width: 100%;
  background-color: azure;
  margin: 0px;
}
.offers-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
