.footer-container {
  background-color: #403f3c;
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.footer-logo {
  height: 50px;
  width: 70px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.footer-website-heading {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}
@media screen and (max-width: 575px) {
  .footer-des {
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    line-height: 0.4;
  }
  .media-icons-container {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 17px;
  }
}

@media screen and (min-width: 576px) {
  .footer-des {
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 0.4;
  }
  .media-icons-container {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 17px;
  }
}
