.large-device-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.login-form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
  border: none;
  border-radius: 7px;
  width: 50%;
}
.landing-image {
  width: 50%;
  height: 100vh;
  background-size: cover;
}
.tasty-kitchen-heading {
  font-weight: bold;
  font-size: 34px;
  color: orange;
}
.website-logo {
  height: 60px;
  width: 70px;
}
.login-heading {
  font-weight: bold;
  font-size: 27px;
  color: black;
  line-height: 0.7;
}
.input-field {
  background-color: #dce0e3;
  border: none;
  height: 30px;
  width: 90%;
  margin-bottom: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.labels {
  align-self: flex-start;
  padding-left: 5%;
  font-weight: bold;
  font-size: 15px;
}
.login-button {
  border: none;
  border-radius: 5px;
  background-color: orange;
  height: 30px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  width: 90%;
  margin-top: 17px;
  margin-bottom: 24px;
}
